mixin sub-text-block(data)
  if (data.type == 'center-bg')
    .text-block.text-block--center
      if(data.brand)
        p.text-block__brand= data.brand
      if(data.title)
        h2.text-block__title.text-block__title--center= data.title
      if(data.text)
        p.text-block__text.text-block__text--center= data.text
      if(data.collection)
        a(href="#").text-block__collection-link смотреть коллекцию
  else if (data.type == 'regular-block')
    .text-block.text-block--regular
      if(data.brand)
        p.text-block__brand= data.brand
      if(data.title)
        h2.text-block__title.text-block__title--regular= data.title
      if(data.text)
        p.text-block__text.text-block__text--regular= data.text
  else if (data.type == 'regular-block-side')
    .text-block.text-block--regular-side
      if(data.brand)
        p.text-block__brand= data.brand
      if(data.title)
        h2.text-block__title.text-block__title--regular-side= data.title
      if(data.text)
        each item in data.text
          p.text-block__text.text-block__text--regular-side= item
  else if (data.type == 'center-black')
    .text-block.text-block--center-black
      if(data.brand)
        p.text-block__brand.text-block__brand--black= data.brand
      if(data.title)
        h2.text-block__title.text-block__title--center-black= data.title
      if(data.text)
        p.text-block__text.text-block__text--center-black= data.text
