mixin base-radio(settings , item)
    .radio
      .radio__input
        input(type="radio", class="visually-hidden" id=item.id, name=settings.name, checked=item.checked ? true : false)
        label(for=item.id)
          span.radio__text= item.value
