mixin color-button(settings)

  .color-button
    input(type="radio", class="visually-hidden", id=settings.id, name=settings.name, checked=settings.checked ? true : false)
    label(for=settings.id)
      span.color-button-span(style =`background-color: var(${settings.color})`)
